body,ul,li {
	padding:0;
	margin:0;
	border:0;
	overflow: hidden;
}

body {
	font-size:13px;
	-webkit-user-select:none;
    -webkit-text-size-adjust:none;
	font-family:Thonburi,helvetica;
	background:#aaa url(background.png);

}

h1{
	font-size: 15px;
	width: 100%;
	background-color: #DFDFDF;
	padding: 4px;
	
	margin-top: 0;
	
}

#header {
	position:absolute; z-index:5;
	top:0; left:0;
	width:100%;
	height:45px;
	line-height:45px;
/*	background-color:#000;*/
	/*background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, black), color-stop(0.05, #2F70C5), color-stop(1, #070450));
	background-image:-moz-linear-gradient(top, #fe96c9, #d51875 5%, #7b0a2e);
	background-image:-o-linear-gradient(top, #fe96c9, #d51875 5%, #7b0a2e);*/
	
	background: #AFD1CC; /* Old browsers */

/*	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#E1F8FF), color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(99%,#0289B5), color-stop(100%,#023848)); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10+,Safari5.1+ */
/*	background: -webkit-linear-gradient(top, #FFF 0%,#AFD1CC 2%,#7A9EA9 100%) url(header.png) repeat-x top left;*/
	background: #93B2B0 url(header.png) repeat-x top left;
	background-size: 63px 45px;
	border-top: solid 1px #E7FFFC;
	border-bottom: solid 1px #4C7270;
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0, 0.4); 
	padding:0;
	color:#212828;
	font-size:20px;

}

#title
{
	font-family: Optima-BoldItalic,helvetica;
	font-size: 20px!important;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	
	width: 70%;
	left: 15%;
	

}

.fadein
{
	-webkit-animation: blurFadeIn 1.5s ease-in 1.5s backwards;
}

#title,.itemtitle {
	color:#212828;
	text-decoration:none;
	font-weight:bold;
	text-shadow:0 1px 0 rgba(170,211,207,0.9);
	position: absolute;
	top: 0px;
	text-align: center;	
	font-size: 13px;
	overflow: hidden;
	whitespace: no-wrap;

}

.itemtitle {
	width: 50%;
	left: 25%;
	top: 2px;
/*	background-image: -webkit-gradient(linear, left, right, color-stop(0%,#000000), color-stop(20%,#FFF), color-stop(80%,#000000)); 
	background-image: -webkit-linear-gradient(left,  #000000 0%,#FFF 20%,#000000 80%); 
	
	-webkit-background-clip: text;
color: rgba(255, 255, 255, 0.3)!important;*/

}

#footer {
	position:absolute; z-index:5;
	bottom:0; left:0;
	width:100%;
	height:48px;
	background-color:#222;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #999), color-stop(0.02, #666), color-stop(1, #222));
	background-image:-moz-linear-gradient(top, #999, #666 2%, #222);
	background-image:-o-linear-gradient(top, #999, #666 2%, #222);
	padding:0;
	border-top:1px solid #444;
	
}



#wrapper,#wrapper_content{
	position:absolute; z-index:1;
	top:45px; bottom:0px; left:0;
	width:30%;
	
	
	overflow:auto;

}

@media 
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
	#wrapper,#wrapper_content{
		background-size: 160px 160px;
	}
}

#scroller_content 
{
	
}

#scroller,#scroller_content {
	position:absolute; z-index:1;
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;
}

#scroller_content {
	width:100%;
}

#scroller ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
	/* -webkit-box-shadow: 0px 0px 30px rgba(0,0,0, 1); traag..*/

}

#wrapper{
	border-right:1px solid #ccc;
}

#scroller li {
	padding:4px 10px;
	height:40px;
	line-height:auto;
	border-bottom:1px solid #ccc;
	border-top:1px solid #fff;
	background-color:#F1F1F1;
	background: -webkit-linear-gradient(top, #F1F1F1 0%,#EBEBEB 100%);
	font-size:13px;
	-webkit-tap-highlight-color: red

}

#scroller li a{
	width: 100%;
}

#myFrame {
	position:absolute;
	top:0; left:0;
}

a{
	text-decoration: none;
	color: #000
}


#wrapper_content{
	padding: inherit; 

	z-index: 2;
	padding-top: 0;
	font-size: 14px;
	left: 0%;
	top: 40px;
	width: 70%;
	text-align:justify; text-justify:distribute-all-lines;
	min-height: 200px;
	font-family:Thonburi,Marion-Regular,GurmukhiMN,GillSans,DevanagariSangamMN,helvetica;
	font-size: 16px;
}

.content
{
	padding-right: 1%;
	background: #FFF;
	margin-top: -10px;
	padding-top: 20px;
	float: left;
	width: 99%
}


.reactieHolder{
	background: #FFF;
	float: left;
}

#reacties{
	background: rgba(255,255,255,0.9);
	
}

.content .selected a
{
	background-color: #f06;
	background: -webkit-linear-gradient(top, #f06 0%, #74012F 100%)!important;
}


.content p{
	padding-left: 10px;
	padding-right: 10px;
}

.content .aTracker{
	line-height: 25px;
	border-bottom: solid 1px #E0E7E6;
	margin-left: 4px;
	
	padding: 3px;
	display: inline-block;
	width: 70%;
	overflow: hidden;
	white-space: nowrap;
}

.content .aTracker:first-child{
	border-top: solid 1px #E0E7E6;
}

.content span{
	line-height: 25px;

}

.reactieHolder span{
	line-height: auto;
}

.content img{
	float: left;
	max-width: 100%;
}

#wrapper_content img:first-child{
	margin-left: 10px;
	float: left;
}

.content p img{
	margin: 0px;
	
}

.to_left {
	position: absolute;

	
	-webkit-animation: TO_LEFT 1s 1;

}

.hide{
	-webkit-transform: translate3d(-100%,%0,0%);
}

@-webkit-keyframes TO_LEFT {
        FROM {
			
			-webkit-transform: translate3d(0%,%0,0%); 
        }
       
		TO {
           -webkit-transform: translate3d(-100%,0%, 0); 
		
        }
}



.from_left_to_right {
	position: static;
	left: 0px;
	
	-webkit-transform: translate3d(0,0,0);


	-webkit-animation: FROM_LEFT_TO_RIGHT 1s 1;
}

@-webkit-keyframes FROM_LEFT_TO_RIGHT {
        0% {
			left: -100%;
			position: absolute;
        }
       
		100% {
           left: 0%;
			position: static;
        }
}

.to_right {
	position: absolute;
	left: 100%;
	-webkit-animation: TO_RIGHT 200ms 1;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);

}

@-webkit-keyframes TO_RIGHT {
        0% {
          left: 0%
			
        }
       
		100% {
           left: 100%
		
        }
}

.from_right_to_left {

	left: 0%;
	transform: translate3d(43%,0,0);
	-webkit-transform: translate3d(43%,0,0);

	-webkit-animation: FROM_RIGHT_TO_LEFT 150ms 1;
}

@-webkit-keyframes FROM_RIGHT_TO_LEFT {
        0% {
			left: 100%;
			position: absolute;
        }
       
		100% {
           left: 0%;
			position: static;
        }
}



ul .selected{
	background: -webkit-linear-gradient(top, #f06 0%, #74012F 100%)!important;
	
	color: #B34828;
	border-bottom-color: #74012F!important;
	border-top-color: #C90252!important;
}

.selected a{
	color: #FDF1EE!important;
	
}

.selected .numreacties{
	color:#FFDED3
}
.button:hover, .button:hover div, .button:hover a{
	background: #88B7B0;
	color: #F3FFFE
	
 }
 
 /*
  */
.button{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	position: relative;
	width: 70px;
	background: #5D7C77;
	height: 26px;
	padding-top: 2px;
	-webkit-transform: translate3d(100%,0%, 0);
	top: 8px;
	font-size: 15px;
	font-weight: bold;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	opacity: 0;
	border: 1px solid rgba(0,0,0, 0.4);
	border-top-left-radius: 4px;
	text-shadow: 0px -1px 0px rgba(0,0,0,1);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255, 0.25), inset 0 1px 1px rgba(0,0,0, 0.2);
	z-index: 5;
}

.button div{
	position: absolute;
	background: #5D7C77;
	width: 18px;
	height: 21px;
	-webkit-transform: rotate(45deg);
	left: -9px;
	top: 2px;
	border-radius: 2px;
	border-bottom-left-radius: 3px;

	border: 1px solid rgba(0,0,0, 0.4); 
    border-right: 0; 
    border-top: 0;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255, 0.25), inset 1px 0px 1px rgba(0,0,0, 0.2);
	z-index: 2;
}


.menu_btn a{
	position: absolute;
	top: 2px;
	line-height: 20px;
	left: 2px;
	color: #E1F8FF;
	font-size: 13px;
	background: #5D7C77;
	height: 22px;
	text-align: center;
	width: 60px;
	z-index: 10;
}
 
 


#spinwrap{
	position: fixed;
	top: 100px;
	height: 100%;
	left: 50%;
}

.itemtitle{
	line-height: 16px;
	margin-top: 14px;
	height: 33px;
	overflow-y: hidden;
	-webkit-transform: translate3d(100%,0%, 0);
	opacity: 0;

	
}

.reactieHolder{
	float: left;
	width: 100%;
	margin-bottom: 20px;

	
}

.reactieHolder img{
	margin: 5px;

}

.reactieHolder p{

	padding: 5px;
	
}


/**
 *
 * Pull down styles
 *
 */
#pullDown, #pullUp {
	background:#fff;
	height:40px;
	line-height:40px;
	padding:5px 10px;
	border-bottom:1px solid #ccc;
	font-weight:bold;
	font-size:14px;
	color:#888;
	
}
#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
	display:block; float:left;
	width:40px; height:40px;

	-webkit-background-size:40px 80px; background-size:40px 80px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;	
}

/*
#pullDown .pullDownIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}
#pullUp .pullUpIcon  {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}
*/
#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
	background-position:0 100%;
	/*
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;

	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;*/
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}

.pullDownIcon div{
	left: 5px;
	top: 10px;
}

.reactieHeader,.reactieHeader a{
	padding-left: 10px;
	font-size: 10px;
	color: #969696;
	
}

/*
.reactieHeader a:before {
    content: "&#x1f468; ";
}*/

.reactieHeader{	
	border-top: solid 1px #E0E7E6;
	background: url(user.png) no-repeat 5px 6px;
	background-size: 12px 10px;
}

#backbutton span{
	display: block;
	width: 100%;
}

.quote{
	background: #F3F3F3
}

#pullUp{
		display: none;
}

.dummy{
	height: 150px;
	float: left;
	width: 100%;
}

#screendetect{
	-webkit-transform: translate3d(0%,0%, 0);
	width: 100%;
	
}

#backbutton {
	display: none;
	z-index: 100;
}

#wide_title{
	text-align: center;
	width: 30%;
	height: 44px;
	top: 1px;
	left: 0;
	position: absolute;
	text-indent: 1%;
	background-color: rgba(0, 0, 0, 0.1);
	text-shadow:0 1px 0 rgba(170,211,207,0.9);
	font-family: Optima-BoldItalic,tahoma,helvetica;
	font-weight: bold;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	border-right: solid 1px #BEE7E3;
	 -webkit-box-shadow:  1px 0px 1px rgba(64,86,85, 0.6);
}	


#wide_title span{
	-webkit-animation: blurFadeIn 3s ease-in 2s backwards;
}

@-webkit-keyframes blurFadeIn{
	0%{
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-webkit-transform: scale(1.8);
	}
	
	100%{
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-webkit-transform: scale(1);
	}
}

.reactieBody{
	width: 99%;
}

.reactieBody a{
	text-decoration: underline;
}

.reactieBody blockquote a{
	text-decoration: none;
}

@media only screen and (min-width: 992px) {
	
	#title{
		display: none;
	}	
	
	#scroller li {
		font-size: 15px;

		background: #EBEBEB;
		background: -webkit-linear-gradient(top, #F1F1F1 0%,#EBEBEB 100%);
		border-color: #E1E1E1;
		border-top: solid 1px #FFF;
	}
	

	
	.selected a{
		color: #FDF1EE!important;
		
	}
	
	#scroller li a {
		color: #3C3C3C
	}

	
	.itemtitle{
		font-size: 20px;
		
	}
	
	.selected .numreacties{
	color:#FFDED3
	}
	#pullDown{
		background: #565656;
		color: #FFF;
	}
	

	
	#menu_wrapper{
		width: 30%!important;
	}
	
}

@media only screen and (max-width: 991px) {
	#screendetect{
		-webkit-transform: translate3d(-100%,0%, 0);
	}
	
	#wrapper,#wrapper_content {
	
		width:100%!important;

	}
	
	.from_right_to_left {

		left: 0%;
		transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);

		-webkit-animation: FROM_RIGHT_TO_LEFT 150ms 1;
	}

	#backbutton {
		display: block;
	}
	
	#wide_title{
		display: none;
	}
	
	.itemtitle{
		margin-top: 4px;
	}
	
	#wrapper{
		border: none
	}
	
}

@media 
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
	
	#wrapper,#wrapper_content {
		
		width:100%!important;

	}
	
		
	.from_right_to_left {

		left: 0%;
		transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);

		-webkit-animation: FROM_RIGHT_TO_LEFT 150ms 1;
	}

	#screendetect{
		webkit-transform: translate3d(-100%,0%, 0);
	}
	
	#backbutton {
		display: block;
	}
	
	#wide_title{
		display: none;
	}
	
	.itemtitle{
		margin-top: 4px;
	}
	
	#wrapper{
		border: none
	}
	
	#scroller li{
		font-size: 14.5px;
	}

}

.numreacties{
	font-size: 10px;
	color:#787878
}

/*-webkit-animation: blurFadeIn 3s ease-in 12s backwards*/

.maintext{
	font-size: 16px;
}

#menu{
	-webkit-transform: translate3d(-100%,0%, 0);
	position:absolute; z-index:1;
	top:0px; bottom:0px; left:0;
	width:100%;
	overflow:auto;
}	
	

#menu_wrapper{	
	-webkit-box-shadow: 2px 0px 5px rgba(0,0,0, 0.4); 
	
}

#menu ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
	/* -webkit-box-shadow: 0px 0px 30px rgba(0,0,0, 1); traag..*/

}


#menu li {
	padding:0 10px;
	height:40px;
	line-height:40px;
	border-top:1px solid #363636;
	border-bottom:1px solid #000;
	background-color: rgba(0,0,0,0.5);
	font-size:15px;
	color: #B3B3B3
}

#menu_button{
	-webkit-transform: translate3d(20%,0%, 0);
	width: 50px;
	line-height: 20px;
	border-left: 1px solid #130138;
	text-align: center; 
	letter-spacing: -2px;
	font-size: 20px;
	font-weight: bold;
	z-index: 50;
	position: absolute;
	border-radius: 3px;
	color: #E1F8FF;
	border: 1px solid rgba(0,0,0, 0.4);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255, 0.25), inset 0 1px 1px rgba(0,0,0, 0.2);
}

#menu_button img
{
	opacity: 1;
}

#menu_wrapper{
-webkit-transform: translate3d(-100%,0%, 0);
	position:absolute; z-index:1;
	top:45px; bottom:0px; left:0;
	width:40%;
	background: rgba(0,0,0, 0.8);
	overflow:auto;
	
}

#by{
	font-size: 10px;
	color: #ABABAB;
	left: 10px;
	bottom: 3px;
	position: absolute;
}

#by a{
	color: #ABABAB;
}

@media only screen and (max-width: 992px) {
	#splash{
		position: absolute;
		left: 0px;
		width: 100%;
		height: 100%;
		top: 0px;
		background: url(start640.png) center center no-repeat;
		background-size: 100% 100%;
		z-index: 3000;
	}
}
.fadeOut{
	-webkit-transform: translate3d(0%,0%, 0);
}

#catheader{
	background: #C5C5C5;
	height: 18px;
	width: 100%;
	
}	

/* Buttons*/

.back_button {
    display : block; 
    position:absolute;
    z-index : 0;
    left:5px;
    top:8px;    
    height:31px;
    width:auto;
    padding: 0 10px 0 6px;
    background-repeat:repeat-x;
    -webkit-background-size : 30px;
    background-position :0;
    background : #5D7C77;
    -webkit-border-radius: 5px;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    -webkit-box-shadow :0 -1px 1px rgba(0,0,0,0.2)inset,
        0 1px 2px rgba(0,0,0,0.8)inset;
  
    font-weight: 600;
    font-size : 13px;
    line-height : 30px;
    text-align:center;
    color:#D7F4E3;
    text-shadow : 0px -1px 0px rgba(0,0,0,0.8);
	-webkit-transform: translate3d(-150%,0%, 0);
	
}

.back_button:before{
    position:absolute;
    content : ' ';
    left:-9px;
    top:3.5px;
    height : 24px;
    width: 28px;
    z-index : 1;
    background-repeat:repeat-x;
    -webkit-background-size : 20px 20px;
    background-position :-1px -0.5px;
    background:#5D7C77;
    -webkit-transform : rotate(-45deg) skew(-10deg, -10deg);
	
    -webkit-border-top-right-radius : 11px;
    -webkit-border-top-left-radius :0px;
    -webkit-border-bottom-right-radius : 0px;
    -webkit-border-bottom-left-radius : 11px;

    border-left : 1.5px solid rgba(255,255,255,0.4);

    box-shadow :  1px 1px 1px rgba(0,0,0,0.4) inset,
        -1px 1px 1px rgba(0,0,0,0.5) inset;

    -webkit-mask-image : 
        -webkit-gradient(linear, left top, right bottom,
            from(#000000), 
            color-stop(0.4,#000000), 
            color-stop(0.5, transparent), 
            to(transparent));
}

.back_button,
.back_button:before {
    background-color: #5D7C77;/*hovercolor*/

}

.back_button.over,
.back_button.over:before {
    background-color: #5D7C77;/*hovercolor*/

}
.back_button a{
color: #D7F4E3!important;
-webkit-tap-highlight-color:rgba(0,0,0,0);
}
